FIREBASE_PROJECT_ID="crickx-3d806"
FIREBASE_CLIENT_EMAIL="firebase-adminsdk-fbsvc@crickx-3d806.iam.gserviceaccount.com"
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\\n...\\n-----END PRIVATE KEY-----\\n"
SPORTMONKS_BASE_URL="https://cricket.sportmonks.com/api/v2.0"
SPORTMONKS_API_TOKEN="your_sportmonks_token_here"
SPORTMONKS_HOURLY_LIMIT=3000
JWT_ACCESS_SECRET="change_me_access"
JWT_REFRESH_SECRET="change_me_refresh"
JWT_ACCESS_TTL="15m"
JWT_REFRESH_TTL="30d"
ALLOWED_SPORTMONKS_LEAGUE_IDS="5,9,13,19,428,168,180,1,106,276,234,311,6,8,252,150,243,3,12,16,17,35,258,261,426"
RAZORPAY_KEY_ID=""
RAZORPAY_KEY_SECRET=""
RAZORPAY_WEBHOOK_SECRET=""
RAZORPAYX_KEY_ID=""
RAZORPAYX_KEY_SECRET=""
RAZORPAYX_ACCOUNT_NUMBER=""
SEED_ADMIN_EMAIL=""
SEED_ADMIN_PASSWORD=""
CORS_ORIGIN="https://crickx-3d806.web.app"
